.flag {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 93px 1fr;
  box-sizing: border-box;
  overflow: hidden;
}

.flag img {
  transition: all 0.3s ease-in-out; 
}

.flag:hover img {
  opacity: 0.5;
}

.flagSmall {
  width: 25%;
  border: 1px solid #909090;
  transition: all 0.3s ease-in-out; 
}

.flagSmall:hover {
  width: 35%
}

.flagContainer {
  border: 1px solid #909090;
}

.details {
  display: flex;
  gap: var(--ui-kit-space-1);
  justify-content: space-between;
  background-color: var(--ui-kit-color-background-primary);
  box-shadow: var(--ui-kit-shadow);
}

.details p {
  display: inline-block;
}
