.gifs {
  display: flex;
  gap: var(--ui-kit-space-1);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.closed {
  cursor: pointer;
}

.toggleGifs {
  cursor: pointer;
}

.giphyLogo {
  display: grid;
  grid-template-columns: 90% 1fr;
  align-items: center;
  justify-content: flex-end;
  object-fit: contain;
  height: var(--ui-kit-space-4);
  margin-top: var(--ui-kit-space-2);
}
