.gifsContainer {
  display: block;
}

.gifsOpen {
  display: flex;
  flex-direction: column;
  gap: var(--ui-kit-space-1);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listGifs {
  display: flex;
  flex-direction: column;
  gap: var(--ui-kit-space-1);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.toggleGifs {
  cursor: pointer;
}

.toggleGifs:hover,
.toggleGifs:active,
.toggleGifs:focus {
  border: 2px solid var(--pride-app-pink);
  outline: 1px solid white;
}
