.gifs {
  display: flex;
  gap: var(--ui-kit-space-1);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.closed {
  cursor: pointer;
}

.toggleGifs {
  cursor: pointer;
}

.giphyLogo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--ui-kit-space-2);
  margin-top: var(--ui-kit-space-2);
}

.giphyLogo svg {
  height: 100%;
}
